.tiny {font-size: 65%;}
.red {color: #f00;}
.yellow {color: #ff0;}
.evil {background: #000; color: #f00;}

.gogie {color: #B3A6A6;}
.ghostus {color: #590575;}
.fisher{color: #4060F0;}
.venomous{color: #229B22;}
.sticylips{color: #FF60A4;}
.feso4{color: #FFDF20;}
.raser{color: #FF2836;}
.glöckchen{color: #007635;}
.finn{color: #088080;}
.rhyrhy{color: #80522D;}
.likewise{color: #80800C;}
.mandrake{color: #004816;}
.slashkreyd{color: #C2BD44;}
.irrendolch{color: #C03068;}
.eisschwein{color: #C2B2A2;}
.akimbleer{color: #BE9DA8;}
.chirin{color: #FFFA9D;}
.ruby{color: #7B92C8;}
.oldcave{color: #62030A;}
.jolly{color: #00CCDD;}

.herbert{color: #C6C9C3;}
.kirk {color: #E88E10;}
.maul {color: #F0ED5D;}
.bishop {color: #0AAB20;}
.ripley {color: #7A0202;}
.elan {color: #522006;}
.wrex {color: #AAB304;}
.leia {color: #0D3007;}
.falchion {color: #1D1D24;}
.newt{color: #610131;}
.samus {color: #FAA0DA;}
.harkness {color: #FF0000;}
.revan {color: #2B1111;}
.kerrigan {color: #00A1BA;}

.scimitar{color: #2E0010;}
.pawniard1 {color: #330303;}
.pawniard2 {color: #911919;}
.pawniard3 {color: #630111;}
.staravia1 {color: #A80000;}
.staravia2 {color: #850C0C;}
.bail {color: #253324;}
.epsilon {color: #660000;}